.bg1 {
    background-color:lightblue;
    align-content: center;
    padding: 100px;
    margin: 50px;
}

h1, h2, p {
    font-family: sans-serif; 
}

.markup {
    color:orangered;
}

.img1 {
    width:250px;
}
